<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/Template")
    @Styles.Render("~/bundles/modernizr") 
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/ForMainPage")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(function () {
            $("body").slideDown(33333);
        })
    </script>
    
</head>
<body>
    <div class="backfon">
        <div class="container-fluid">
            <div class="row">
                <div class="fon">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="firstSection" data-main=".firstSection">
                                <div class="change" data-main2=".change"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="upmenu">
                                            <div style="color:#ffffe7;position:absolute;top:90px;left:177.6px;font-size:21px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                                <b style="text-shadow: 1px 1px 2px black;">Ветеринарная клиника</b><br />
                                                <span style="font-size:16px;color:black;opacity:0.8;">г.Мариуполь, просп. Победы, 48а</span> <br />
                                                <b style="text-shadow: 1px 1px 3px black;font-size:17px;">тел. &nbsp;&nbsp;&nbsp;&nbsp;(067) 624 - 15 - 74</b><br />
                                                <b style="text-shadow: 1px 1px 3px black;font-size:17px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(098) 285 - 37 - 17</b>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="logoIcon">

                                                </div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="menuBlock">
                                                            <div class="col-lg-2">
                                                                <div class="item">
                                                                    <div class="spanclass">
                                                                        Главная
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="item">
                                                                    <div class="spanclass">
                                                                        Наши услуги
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="item">
                                                                    <div class="spanclass">
                                                                        О клинике
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="item">
                                                                    <div class="spanclass">
                                                                        Отзывы
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="item">
                                                                    <div class="spanclass">
                                                                        Обратная связь
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="item">
                                                                    <div class="spanclass">
                                                                        Контакты
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="bottommenu">
                                            <div class="col-lg-1">

                                            </div>
                                            <div class="col-lg-10" >
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="_updownrow"></div>
                                                        <div class="centerrow">
                                                            <div class="col-lg-8">

                                                            </div>
                                                            <div class="col-lg-4" >
                                                                <div class="container-fluid">

                                                                    <div class="row">
                                                                        <div class="upblock"></div>
                                                                        <div class="centblock">
                                                                            <h2 style="font-family:'Segoe UI';text-shadow:1px 1px 2px white;">Вы можете нам доверять</h2>
                                                                            <p>
                                                                                <h3><span style="text-shadow: 1px 1px 2px white;color:black;font-size:17px;text-align:right">Многолетний опыт нашей работы а также высокий уровень квалификации наших специалистов говорит вам о...</span></h3>
                                                                                <center>
                                                                                    <a class="btn btn-primary btn-large" style="background:#dd9f3d;border:none;">
                                                                                        Просмотреть подробную информацию
                                                                                    </a>
                                                                                </center>
                                                                            </p>
                                                                        </div>
                                                                        <div class="upblock1"></div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="_udownrow">
                                                            <div class="col-lg-3"></div>
                                                            <div class="col-lg-6">
                                                                
                                                            </div>
                                                            <div class="col-lg-3"></div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-1">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <div class="otherSection">
                                <div class="container-fluid">
                                    <div class="row"><br />
                                        <center><h2>Несколько поводов доверять нашим специалистам</h2></center><br />
                                    <div class="textinfoBlock">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10" style="border:1px solid red;">
                                            <div class="row">
                                                <div class="upDown"></div>
                                                <div class="mainBlock">
                                                    <div class="col-lg-1" style="border:1px solid red;"></div>
                                                    <div class="col-lg-5" style="border:1px solid red;"></div>
                                                    <div class="col-lg-5" style="border:1px solid red;"></div>
                                                    <div class="col-lg-1" style="border:1px solid red;"></div>
                                                </div>
                                                <div class="upDown"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>

                                    </div>
                                </div>
                                @RenderBody()
                            </div>

                            <div class="newsBlock">
                                <div class="container-fluid">
                                    <div class="row"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
